@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

$primary-color: white;
$bg: black;

h1 {
  color: $primary-color;
  background-color: $bg;
}

body {
  margin: 0;
  font-family: 'Sen', sans-serif;
  width: 100vh;
  height: 5996px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center
}

// Обнуление
@import "nullstyle.scss";

.navbar {
  background-color: #232536;
  width: 1440px;
  height: 80px;
  padding: 10px 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 140px;

    .logo__finsweet {
      color: white;
      font-size: 28px;
    }
  }

  .menu {
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;


      .menu__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 305px;
        margin-right: 32px;
        font-weight: 400;
        line-height: 30px;
      }

      .menu__link {
        color: white;
        font-style: normal;
        font-weight: 400;
      }

      .menu__footer {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 12px;
        width: 179px;
        height: 56px;
        align-items: center;
        padding: 16px 48px;
        background-color: white;

        .menu__button {
          color: #232536;
          width: 83px;
          height: 24px;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}



.mainblock__img {
  background-image: url('../img/mainblock/bg.png');
  width: 1440px;
  height: 720px;
}

.mainblock__content {
  display: flex;
  justify-content: space-between;
  width: 804px;
  height: 400px;
  left: 80px;
  top: 208px;

  .mainblock__text {
    color: white;
    margin: 208px 556px 192px 80px;


    .title {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 3px;
      width: 222px;
      height: 20px;
      margin-bottom: 24px;
      text-transform: uppercase;

      .coloretex_title {
        font-weight: 700;
      }
    }

    .subtitle {
      font-weight: 700;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: -2px;
      width: 803px;
      height: 128px;
      margin-bottom: 24px;
    }

    .author_and_date {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      width: 243px;
      height: 28px;
      margin-bottom: 16px;

      .colortext_author {
        color: #FFD050;
      }
    }

    .about_the_project {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      width: 599px;
      height: 56px;
      margin-bottom: 48px;
    }

    .mainblck__footer {
      background-color: #FFD050;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 16px 48px;
      gap: 12px;
      width: 204px;

      .mainblock__button {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232536;
      }
    }
  }
}

.featured_posts {
  width: 1282px;
  height: 804px;
  display: flex;
  align-items: center;
  left: 80px;
  top: 928px;
  margin: 128px 78px 128px 80px;

  .featured_post {
    width: 733px;
    height: 804px;
    left: 80px;
    top: 928px;

    .featured_post_title {
      width: 223px;
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
      letter-spacing: -2px;
      color: #232536;

    }

    .post_wrapper {
      width: 733px;
      height: 724px;
      border: 1px solid rgba($color: #6D6E76, $alpha: 0.3);
    }

    .img_post_wrapper {
      width: 669px;
      height: 352px;
      margin: 32px;
    }

    .name_and_date {
      width: 202px;
      height: 20px;
      margin-left: 32px;
      margin-bottom: 16px;
      color: #4C4C4C;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;


    }

    .featured_info {
      width: 669px;
      height: 152px;
      margin: 32px;

      .featured_info_title {
        width: 669px;
        height: 80px;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -1px;
        color: #232536;
        margin-bottom: 16px;
      }

      .featured_info_text {
        width: 555px;
        height: 56px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #6D6E76;
        margin-bottom: 32px;
      }
    }
  }

  .color_text_name_and_date {
    color: #592EA9;
  }

  .post_wrapper_button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 48px;
    gap: 12px;
    width: 204px;
    height: 56px;
    background: #FFD050;
    margin-left: 32px;
    margin-bottom: 32px;

    .wrapper_button {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.all_posts {
  width: 517px;
  height: 804px;
  left: 845px;
  top: 928px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 32px;
  margin-right: 78px;

  .info_blok {
    width: 517px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .all_posts_title {
      width: 133px;
      height: 48px;
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
      letter-spacing: -2px;
      color: #232536;
      margin-bottom: 32px;
    }

    .all_posts_view_all {
      width: 60px;
      height: 28px;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #592EA9;

    }
  }

  .item {
    width: 517px;
    height: 181px;
    right: -439px;
    top: 1370px;
    background: #FFFFFF;

    .all_posts_name_and_date {
      width: 199px;
      height: 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #4C4C4C;
      margin-left: 32px;
    }

    .item_text {
      width: 369px;
      height: 96px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #232536;
      margin-left: 32px;
      margin-right: 116px;
      margin-top: 8px;

    }
  }
}

.item:hover {
  background: #FBF6EA;
}

.pattern {
  height: 23px;
  width: 1345px;
  background: white;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -14.5px;
  margin-left: 15px;

  .pattern_one {
    width: 865px;
    height: 23px;
    background: #FFD050;
  }

  .pattern_two {
    width: 210px;
    height: 23px;
    background: #592EA9;
  }
}

.about_us_and_our_mission {
  width: 1280px;
  height: 523px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  align-items: center;



  .about_us_our_mission_background {
    background-color: #F4F0F8;
    width: 1280px;
    height: 500px;
    display: inline-flex;



    .about_us {
      display: flex;
      flex-direction: column;
      width: 515px;
      height: 308px;
      margin: 96px 61px 96px 80px;

      .about_us_title {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #232536;
        margin-bottom: 24px;
      }

      .about_us_subtitle {
        width: 494px;
        height: 144px;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -2px;
        color: #232536;
        margin-bottom: 16px;
      }

      .about_us_text {
        width: 515px;
        height: 56px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #6D6E76;
        margin-bottom: 16px;

      }

      .about_us_link {
        width: 108px;
        height: 32px;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #592EA9;
      }
    }

    .our_mission {
      display: flex;
      flex-direction: column;
      width: 516px;
      height: 248.73px;
      margin: 98px 108px 153.27px 82px;

      .our_mission_title {
        width: 150px;
        height: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #232536;
        margin-bottom: 24px;
      }

      .our_mission_subtitle {
        width: 481px;
        height: 80px;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -1px;
        color: #232536;
        margin-bottom: 16px;

      }

      .our_mission_text {
        width: 516px;
        height: 108.73px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #6D6E76;
      }
    }
  }
}

.Choose_a_catagory {
  width: 1280px;
  height: 324px;
  margin: 128px 80px 128px 80px;
  height: 228px;

  .chose_a_catagory_title {
    width: 302px;
    height: 48px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    margin-left: 489px;
    margin-right: 489px;

  }

  .cateories {
    width: 1280px;
    height: 228px;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;

    .item {
      width: 296px;
      height: 228px;
      border: 1px solid rgba($color: #6D6E76, $alpha: 0.3);
      transition: all 350ms ease-in-out;

      .item_img {
        width: 48px;
        padding: 12px;
        background-color: #FBF6EA;
        border-radius: 12px;
        margin-top: 34px;
        margin-right: 216px;
        margin-left: 32px;
      }

      .item_title {
        width: 147px;
        height: 40px;
        right: 197px;
        top: 2703px;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -1px;
        color: #232536;
        margin-bottom: 4px;
        margin-left: 32px;

      }

      .item_text {
        width: 232px;
        height: 56px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #6D6E76;
        margin-left: 32px;
      }

    }
  }


}

.item:hover {
  background: #FFD050;
}

.special_post {
  width: 1280px;
  height: 705px;
  display: flex;
  flex-direction: row-reverse;
  background-image: url(../img/special_post/close-up-photography-of-man-wearing-sunglasses-1212984.png);
  background-repeat: no-repeat;
  background-size: 949px 705px;
  margin-left: 80px;
  margin-top: 128px;


  .content {
    width: 706px;
    height: 584px;
    background-color: white;
    margin-top: 121px;

    .content_title {
      width: 189px;
      height: 20px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #232536;
      margin: 80px 437px 24px 80px;

    }

    .content_subtitle {
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: -2px;
      color: #232536;
      margin-left: 80px;
      margin-right: 80px;
      margin-bottom: 16px;
    }

    .content_text {
      width: 546px;
      height: 84px;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #6D6E76;
      margin-left: 80px;
      margin-right: 80px;
      margin-bottom: 32px;
    }

    .content_button {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 16px 48px;
      gap: 12px;
      width: 269px;
      height: 56px;
      left: 734px;
      top: 3532px;
      background: #FFD050;
      margin-left: 80px;


      .content_button_read_more {
        width: 173px;
        height: 24px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232536;
        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }
  }

}