@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');


$primary-color: white;
$bg: black;
h1 {
  color: $primary-color;
  background-color: $bg;
}
body{
  margin: 0;
  font-family:'Sen', sans-serif; 
}
// Обнуление
@import "nullstyle.scss";

.top__panel{
background-color: #232536;
position: absolute;
width: 1440px;
margin: 0 auto;
height: 80px;
color: white;
}

.mainblock__img{
background-image: url('../img/mainblock/bg.png');
position: absolute;
z-index: 1;
width: 1440px;
height: 720px;
right: 0px;
top: 80px;
}
.mainblock__content{
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: left;
}

.mainblock__title{
font-size: 16px;
line-height: 20px;
letter-spacing: 3px;
text-transform: uppercase;
color: white;
}
.mainblock_subtitle{
font-size: 56px;
line-height: 64px;
letter-spacing: -2px;
color: white;
}
.author_and_date{
  font-size: 16px;
  color: white;
  line-height: 28px;
}
.about_the_project{
  font-size: 16px;
  color: white;
  line-height: 28px;
}
.mainblock__footer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 48px;
  gap: 12px;
  position: absolute;
  width: 204px;
  height: 56px;
  left: 80px;
  top: 552px;
  background: #FFD050;
  font-size: 18px;

}